
<mat-card>
<mat-card-content>

  <form [formGroup]="employeeForm" (ngSubmit)="save()">
<!-- <mat-card-content> -->
<mat-form-field class="example-form-field">
  <mat-label>id</mat-label>
  <input matInput type="text" formControlName="tz" required pattern="[0-9]{9}">
  @if (employeeForm.controls['tz'].value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="employeeForm.controls['tz'].reset()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-error *ngIf="employeeForm.get('tz')?.hasError('required')">tz is required</mat-error>
  <mat-error *ngIf="employeeForm.get('tz').invalid && employeeForm.get('tz').dirty">The tz is invalid </mat-error>
  <mat-error *ngIf="employeeForm.get('tz')?.hasError('minlength')">The tz must be 9 digits </mat-error>
  <mat-error *ngIf="employeeForm.get('tz')?.hasError('maxlength')">The tz must be 9 digits </mat-error>
</mat-form-field>
<div>
<mat-form-field class="example-form-field">
  <mat-label>firstName</mat-label>
  <input matInput type="text" formControlName="firstName" required>
  @if (employeeForm.controls['firstName'].value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="employeeForm.controls['firstName'].reset()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">firstName is required</mat-error>

</mat-form-field>
</div>
<mat-form-field class="example-form-field">
  <mat-label>lastName</mat-label>
  <input matInput type="text" formControlName="lastName" class="custom-input" required  >
  @if (employeeForm.controls['lastName'].value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="employeeForm.controls['lastName'].reset()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">lastName is required</mat-error>

</mat-form-field>
<div>
    <label>gender</label>
    <mat-radio-group formControlName="isMale">
      <mat-radio-button value="true">male</mat-radio-button>
      <mat-radio-button value="false">female</mat-radio-button>
    </mat-radio-group>
    </div>
    <mat-error *ngIf="employeeForm.get('isMale')?.hasError('required')">choosing gender is required</mat-error>

    <div>
  <mat-label>תאריך לידה</mat-label>
    <!-- <input type="date" formControlName="dateBorn"  > -->
    <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field >
      <mat-label>Choose a date1</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateBorn">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="employeeForm.get('dateBorn').errors?.['underEighteen']" class="text-danger">
    Date of birth must be at least 18 years ago
  </div>
  <div>
    <mat-label>תאריך תחילת עבודה</mat-label>
      <input type="date" formControlName="startDate"  >
      </div>
  <mat-error *ngIf="employeeForm.get('startDate').errors?.['required']">startDate is required</mat-error>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
<div formArrayName="roles">
  <div *ngFor="let role of employeeForm.get('roles')['controls']; let i = index;">
    <div [formGroupName]="i">
      <div>


      <mat-select formControlName="roleId" placeholder="roleName" (selectionChange)="updateRolesOptions($event)">
        <mat-option *ngFor="let option of roleNames" [value]="option.id" [disabled]="option.disabled">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </div>
    <mat-error *ngIf="role.get('roleId').touched && role.get('roleId').invalid">
      Role name is required
    </mat-error>
      <input type="checkbox" formControlName="isManagerial">  
      <label for="isManagerial">האם התפקיד ניהולי? </label>
     
      <input type="date" formControlName="startDate"> 
      <label for="startDate">תאריך תחילת תפקיד:</label>
      <mat-error *ngIf="employeeForm.get('startDate').errors?.['required']">startDate is required</mat-error>
    </div>
    <div *ngIf="role.get('startDate').errors?.entryDateInvalid" class="text-danger">
      Start date must be later than or equal to the employee's start date
    </div>


    <button mat-raised-button color="primary" type="button" [disabled]="!canRemoveRole()" (click)="removeRole(i)">
      <mat-icon>delete</mat-icon> הסר תפקיד
    </button>
  </div>
</div>
</div>
<button mat-raised-button color="primary" type="button" (click)="addRole()">
  <mat-icon>add</mat-icon> הוסף תפקיד
</button>
</div>
<button type="submit">
  <mat-icon>save</mat-icon> שמור שינויים
</button>
  </form>
</mat-card-content>
</mat-card>
<!-- </mat-card-content> -->


